<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BEU 6th Semester Results</title>
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #e8ffd8;
    padding: 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #cover {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff7575;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    #ffffffeb;


  }

  form {
    text-align: center;
  }

  input[type="text"] {
    width: calc(100% - 40px);
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
  }

  input[type="text"]::placeholder {
    color: #ffffff;
  }

  button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #ff7575;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}
  

  button:hover {
    background-color: #ff9999;
    color: #fff;
  }

  footer {
    text-align: center;
    margin-top: 20px;
  }

  footer p {
    color: #666;
  }

  footer a {
    color: #ff7575;
    text-decoration: none;
  }
</style>
</head>
<body>

<h2>BEU 6th Semester Results</h2>

<div id="cover">
  <form action="/scrape">
    <input type="text" name="registrationNumber" placeholder="Enter Registration Number" required>
    <button type="submit">Submit</button>
  </form>
</div>

<footer>
  <p>Created by <a href="https://www.google.com/search?sca_esv=cfa97c458ab2bfe3&rlz=1C1YTUH_enIN1066IN1066&sxsrf=ACQVn08fQDm7Mg3S1csw46j7p43ZT-2TRQ:1710182730875&q=KRISHNA+RAJ&stick=H4sIAAAAAAAAAOOwesRoyi3w8sc9YSmdSWtOXmNU4-IJSC0qzs8LTk0sSs4QEuNic80rySypFOKR4uLiKM7yrAwwDK_kWcTK7R3kGezh56gQ5OgFANnvUBlIAAAA&sa=X&ved=2ahUKEwjnt7KR7-yEAxU3TmwGHXpKCMwQnJoFegQIMBAH&biw=1536&bih=742&dpr=1.25">Krishna Raj</a>.</p>
</footer>

</body>
</html>
